trigger:
- main

pool:
  vmImage: windows-2022

stages:

# Etapa de commit. Incluye los procesos de compilación, test unitarios, evaluación del código y empaquetado
- stage: Etapa_Commit
  jobs:

  # Job para el cliente en Angular
  - job: Cliente_Angular
    steps:

    # Compilación
    - task: NodeTool@0
      inputs:
        versionSpec: '16.x'
      displayName: '[Compilación 1/2]: Instalar Node.js'

    - script: |
        call npm install -g @angular/cli
        call npm install --legacy-peer-deps
        call ng build
      workingDirectory: $(Build.SourcesDirectory)/client
      displayName: '[Compilación 2/2]: Compilación'

    # Test unitarios
    - script: |
        call ng test --no-watch --reporters=junit
        exit 0
      workingDirectory: $(Build.SourcesDirectory)/client
      displayName: '[Test unitarios 1/2]: Ejecución de los test'

    - task: PublishTestResults@2
      inputs:
        testResultsFiles: '$(Build.SourcesDirectory)/client/test-results.xml'
        failTaskOnFailedTests: true
      displayName: '[Test unitarios 2/2]: Publicación de resultados'

  # Job para el API en .NET
  - job: API_NET
    steps:

    # Compilación
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '7.0.100'
      displayName: '[Compilación 1/2]: Instalar SDK .NET'

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          Write-Host "Downloading Code QL analysis for Windows"
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest -uri https://github.com/github/codeql-action/releases/latest/download/codeql-runner-win.exe -OutFile $(Build.SourcesDirectory)\src\codeql-runner-win.exe
          Write-Host "Code QL analysis for Windows downloaded, now we init it"
          cd $(Build.SourcesDirectory)\src
          pwd
          & ./codeql-runner-win.exe init --github-url https://github.com --repository juanmalm/DatingAppCICD --github-auth $(ghtoken) --languages csharp
          cat $(Build.SourcesDirectory)\src\codeql-runner\codeql-env.sh | Invoke-Expression
        displayName: '[Evaluación y calidad del código 1/2]: Inicialización CodeQL'

    - task: DotNetCoreCLI@2
      inputs:
        projects: 'API/API.csproj'
      displayName: '[Compilación 2/2]: Compilación'

    # Test unitarios
    - task: DotNetCoreCLI@2
      inputs:
        command: 'test'
        projects: 'API.UnitTests/API.UnitTests.csproj'
      displayName: '[Test unitarios 1/1]: Ejecución y publicación de los test'